#include "resource.h"

IDR_MENU_MAIN MENU
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "&Copy", ID_FILE_COPY
		MENUITEM "&Exit", ID_FILE_EXIT
	END
	
	POPUP "Help"
	BEGIN
		MENUITEM "&About", ID_ABOUTABOUT
		MENUITEM "&Changelog", ID_ABOUTCHANGELOG
		MENUITEM "&Help", ID_ABOUTHELP
	END
END
